
.navb li {
    display: inline;
    padding: 6.3px;
    margin: 5px;
    color: white;
    font-size: medium;
    background-color: rgb(101, 176, 101);
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 30px;
}
    /* change color on nav linka*/

.navb li:hover {
    background-color: rgb(50, 96, 50);
}

/* code below used to removed underline below a links from nav bar*/

.noDecoration, a:link, a:visited {
    text-decoration: none;
    color: white;
}
 section {
    margin: 0;
    top: 0;
 }

 /* code below are used to modified the captions in the courasel*/

 .carousel-caption {
    background-color: #00000080;
    position: relative;
    margin: 45px;
    font-size: 30px;
 }

 .carousel-caption h5 {
    font-size: 40px;
    font-family: fantasy;
    color: rgb(101, 176, 101)
 }